<div class="url"> 
  Edit your post at <a href="/<%= @category.title %>/<%= @post.id %>/edit?key=<%= @post.key %>">
    /<%= @category.title %>/<%= @post.id %>/edit?key=<%= @post.key %> 
  </a>
</div>
