<span class="category-head">Browse all posts in <span id="category-page-var"><%= @category.title %></span> or <a href="/<%= @category.id %>/post/new">create your own post about <%= @category.title %>.</a></span>

<ul>
  <% @posts.each do |post| %>
    <li><a href="/<%= @category.id %>/<%= post.id %>"><%= post.title %></a></li>
  <% end %>
</ul>
